/* Bill */
.bill {
    width: 60%;
    margin: 6rem auto 0 auto;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
    padding: 20px 0 0 20px;
    border-radius: 10px;
}

.bill-detial {
    padding: 0 30px 30px 30px;
}

.guopoidHead {
    display: grid;
    border-bottom: #DDDCE1 solid 1px;
    grid-template-columns: 1fr 1fr 1fr;
}

.iconnboxx {
    text-align: center;
    font-size: 45px;
    color: #347FFF;
}

.idf {
    display: grid;
    gap: 1rem;
    padding-bottom: 1rem;
}

.billGopBox {
    display: grid;
    width: 100%;
    margin: auto;
    padding: 30px 0;
    border-bottom: #DDDCE1 solid 1px;
}

.billGopBox table {
    width: 100%;
}

.billGopBox table tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.billGopBox table tr th {
    width: 15%;
    text-align: center;
}

.billGopBox table tr td {
    width: 15%;
    text-align: center;
}

.titlePrice {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.place-on {
    display: grid;
    gap: 1rem;
    padding: 0 2rem;
}

/* Responsive */
@media screen and (max-width: 431px) {
    .bill {
        width: 95%;
        overflow: hidden;
    }

    .bill-detial {
        padding: 10px 0 20px 0;
    }
    .titlePrice{
        padding: 2rem 10px;
    }
    .place-on{
        padding: 0;
    }
}