#container_order_item {
    width: 80%;
    margin: 6rem auto 0 auto;
}

#container_order_item .container_order_all {
    display: grid;
    width: 100%;
    align-items: center;
    padding: 15px 0;
}

.container_order_all h2 {
    text-align: center;
}

#container_order_item .box_item_order {
    width: 100%;
    margin-top: 1rem;
    padding: 20px 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    border-radius: 10px;
}

.box_item_order_text {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 431px) {
    #container_order_item {
        width: 95%;
        padding: 15px 0;
    }
    #container_order_item .box_item_order {
        margin-top: 1rem;
        padding: 20px;
    }
    .txtheadeproductorder{
        margin-top: 10px;
    }
}