.container_order_store {
    width: 60%;
    margin: 2rem auto;
}


.heade_productorder_store {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    padding: 20px 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    border-radius: 10px;
}

.btn_confirm_orderD {
    border-radius: 8px;
    width: 120px;
    height: 35px;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.nConfrim {
    background-color: red;
}

.fnConfrim {
    background-color: #347FFF;
}

.box_item_order_text_Store {
    display: grid;
    gap: 10px;
}

.h2_store {
    text-align: center;
}


@media screen and (max-width: 431px) {
    .container_order_store {
        width: 95%;
        margin-top: 0;
        padding: 15px 0;
    }

    .box_item_order_Store {
        margin-top: 2rem;
        padding: 20px;
    }

    .txtheadeproductorder_store {
        margin-top: 10px;
    }
}