.btn_boxAcouunt{
    display: flex;
    gap: 1rem;
}

.submit_delete {
    padding: 0.2rem 3rem;
    border-radius: 7px;
    color: #fff;
    font-size: 1.2rem;
    background-color: #ff7446;
    cursor: pointer;
    border: none;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 165, 105, 0.4);
}

.submit_add {
    padding: 0.2rem 3rem;
    border-radius: 7px;
    color: #fff;
    font-size: 1.2rem;
    background-color: #27A7EF;
    cursor: pointer;
    border: none;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 165, 105, 0.4);
}