.btn_saveProdcut {
    width: 60%;
    margin: auto;
    position: fixed;
    bottom: 0;
    border-radius: 30px;
    background: #347FFF;
    padding: 23px;
    box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.15);
    display: grid;
    margin: 2rem auto;
    text-align: center;
    color: #FFF;
}

.addProduct_box_content {
    display: flex;
    width: 100%;
    height: 41vh;
    justify-content: center;
    align-items: center;
    background-color: #FCFCFC;
    border: 1px solid #EBEBEB;
    cursor: pointer;
}

.addProduct_box_content:hover {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
}



.addplue_ofProduct {
    font-size: 35px;
    background-color: #EAF2FF;
    border-radius: 300px;
    padding: 10px 20px;
    color: #347FFF;
}

.addProduct_box_content_afterThat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.deleteBox_productconotent {
    position: absolute;
    background-color: red;
    font-size: 20px;
    color: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 7px;
    cursor: pointer;
}

.addProduct_box_content_afterThat img {
    width: 100%;
}

.box_txt_andIconn_addproduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background_addproductpopup_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000036;
    z-index: 999;
}

.hover_addproductpopup_box {
    width: 30%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divsdfsdsf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 30vh;
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn_addproducttxt_popup {
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 20px;
}

.btn_foasdf {
    display: flex;
}

.btn_cancel {
    background-color: #F2F3F7;
    color: #000;
}

.btn_confirm {
    background-color: #347FFF;
    color: #FFF;
}

.btn_cancel:hover {
    background-color: #e7e8ee;
}

.btn_confirm:hover {
    background-color: #3076f0;
}


.input_of_txtAddproduct {
    width: 80%;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #DDDCE1;
}

.icon_penAddproduct {
    background-color: #8a8f97;
    color: #FFF;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 431px) {
    .addProduct_box_content {
        height: 30vh;
    }

    .banner_no_box_img {
        height: 20vh;
    }

    .hover_addproductpopup_box {
        width: 95%;
    }

    .divsdfsdsf {
        height: 20vh;
    }

    .btn_saveProdcut {
        width: 90%;
        left: 1.5rem;
    }


}